<div class="addPost">
  <h1 mat-dialog-title  style="text-align: center !important;">Send your post</h1>
  <br/>
  <div mat-dialog-content style="text-align: center !important;">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput #title>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Menssage</mat-label>
      <textarea matInput #body></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions style="place-content: center !important;">
    <button mat-button (click)=onNoClick() >Cancel</button>
    <button mat-button (click)="senPodtnew(title.value , body.value)">Send</button>
  </div>
</div>



